/* Fix user-agent */
* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */
.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

#oknamebutton {
  color:white;
  margin-top:20px;
  cursor: pointer;
  font-size: larger
}

/* Chat page */

.myo.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}


#texthint{
  position: absolute;
  width:100%;
  left:50%;
  transform: translateX(-50%);
  text-align:center;
  top: 18%;
  font-size:1.5em;
  font-weight:bold;
  text-decoration:none;
}

.imagehint{
  position: absolute;
  bottom: 40%;
  left: 50%;
  margin-left: -240px;
  width: 480px;
}

#next-button-triangle {
  width: 200px;
  height:200px;
  position:absolute;
  bottom:10%;
  right:15%;
  text-indent:-140px;
  color:#e2eaf3;
  font-family:Verdana;
  line-height:0em;
  font-size:1.2em;
  font-weight:bold;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 160px solid green;
}

#back-button-triangle {
  width:200px;
  height:200px;
  position:absolute;
  bottom:10%;
  left:15%;
  display:none;
  text-indent: 130px;
  color:#e2eaf3;
  font-family:Verdana;
  line-height:0em;
  font-size:1.2em;
  font-weight:bold;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-right: 160px solid #0000ff;
}

#back-button-triange:hover {
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-right: 160px solid #000077;
}

.round-button {
  width:40px;
  height:200px;
  position:absolute;
  bottom:7%;
  left:50%;
  transform: translateX(-50%);
  display:none;
}


#circle1{
  display:none;
}

#hourglass{
  width:200px;
  height:200px;
  position:absolute;
  bottom:10%;
  left:50%;
  margin-left:-100px;
}

#next-button-triangle:hover {
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 160px solid #004400;
}

.pod {
  position : absolute;
  height  : 80px;
  width   : 200px;
  background:transparent;
  text-align:center;
  font-size:10pt;
  margin: 40px;
  opacity:0.2;
}

#pod0{bottom: 0px; right: 0px; }
#pod1{top:    35%; right: 0px; }
#pod2{top:    0px; right: 0px; }
#pod3{top:    0px; left:  41%; }
#pod4{top:    0px; left:  0px; }
#pod5{top:    35%; left:  0px; }
#pod6{bottom: 0px; left:  0px; }
#pod7{bottom: 0px; left:  41%; }